
body{background-color: black;}

footer{
    background: var(--background);
    color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    
  }
  
  footer a,
  footer p{
    color: white;
    font-weight: 300;
    font-size: 18px;
    border:none;
    text-decoration: none;
    
    font-family: 'Montserrat', sans-serif;
  }
  
  footer a:hover{
    color: var(--text-white);
  }
  
  footer span{
    font-weight: 800;
  }
  
  .footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }