@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.cardconteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  background-color: #131415;
  height: 100vh;
  flex-direction: row;
}

.cardconteiner div {
  width: 300px;
  height: 250px;
  margin: 10px;
  background-color: #252525;
  border-radius: 15px;
}

.carduno .imagenuno {
  width: 237px;
  height: 98px;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.carduno .card-info {
  color: white;
}

.card-info {
  margin-left: 30px;
}

.card-info p {
  margin-top: -18px;
  color: grey;
}

span {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background: -webkit-linear-gradient(70deg, #ffa100, #ff005c);
  -webkit-background-clip: text;
  color: tomato;
}

.card-info .button {
  margin-left: 120px;
  background: linear-gradient(70deg, #ffa100, #ff005c);
  border-radius: 17px;
  color: white;
  border: none;
  width: 85px;
  height: 29px;
}

.button:hover {
  color: #252525;
}
